<h2>Formulario reactivo con validaciones. Damian</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">

    <label for="nombre" class="form-label">Nombre</label>
    <input type="text" class="form-control w-25 mb-3" 
    id="nombre" name="nombre" 
    formControlName="nombre"
    placeholder="Tu nombre">

    <div>
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control w-25 mb-3" 
        id="email" name="email" 
        formControlName="email"
        placeholder="Tu email">
    </div>

    <div>
        <label for="edad" class="form-label">Edad</label>
        <input type="number" class="form-control w-25" 
        id="edad" name="edad" 
        formControlName="edad"
        placeholder="Tu edad">
    </div>

    <div>
        <button type="submit" class="btn btn-success mt-2" 
        [disabled]="form.valid">
        Enviar
        </button>
    </div>


</form>